<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="server=localhost;port=3306;user id=club;password=club;database=club;SslMode=none;Connection Timeout=30;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>